# T81-558: Applications of Deep Neural Networks
* Instructor: [Jeff Heaton](https://sites.wustl.edu/jeffheaton/), School of Engineering and Applied Science, [Washington University in St. Louis](https://engineering.wustl.edu/Programs/Pages/default.aspx)
* For more information visit the [class website](https://sites.wustl.edu/jeffheaton/t81-558/).

**Module 4 Assignment: Classification and Regression Neural Network**

**Student Name: Your Name**

# Assignment Instructions

For this assignment you will use the **crx.csv** dataset.  This is a public dataset that can be found [here](https://archive.ics.uci.edu/ml/datasets/credit+approval). You should use the CSV file on my data site, at this location: [crx.csv](https://data.heatonresearch.com/data/t81-558/crx.csv) because it includes column headers.  This is a dataset that is usually used for binary classification. There are 15 attributes, plus a target column that contains only + or -.  Some of the columns have missing values.

For this assignment you will train a neural network and return the predictions.  You will submit these predictions to the **submit** function.  See [Assignment #1](https://github.com/jeffheaton/t81_558_deep_learning/blob/master/assignments/assignment_yourname_class1.ipynb) for details on how to submit an assignment or check that one was submitted.

Complete the following tasks:

* Your task is to replace missing values in columns *a2* and *a14* with values estimated by a neural network (one neural network for *a2* and another for *a14*).
* Your submission file will contain the same headers as the source CSV: *a1*, *a2*, *s3*, *a4*, *a5*, *a6*, *a7*, *a8*, *a9*, *a10*, *a11*, *a12*, *a13*, *a14*, *a15*, and *a16*.
* You should only need to modify *a2* and *a14*.
* Neural networks can be much more powerful at filling missing variables than median and mean.
* Train two neural networks to predict *a2* and *a14*.  
* The y (target) for training the two nets will be *a2* and *a14*, depending on which you are trying to fill.
* The x for training the two nets will be 's3','a8','a9','a10','a11','a12','a13','a15'.  These are chosen because it is important not to use any columns with missing values, also it could cause unwanted bias if we include the ultimate target (*a16*).
* ONLY predict new values for missing values in *a2* and *a14*.
* You will likely get this small warning:  Warning: The mean of column a14 differs from the solution file by 0.20238937709643778. (might not matter if small)

# Assignment Submit Function

You will submit the 10 programming assignments electronically.  The following submit function can be used to do this.  My server will perform a basic check of each assignment and let you know if it sees any basic problems. 

**It is unlikely that should need to modify this function.**

In [ ]:
import base64
import os
import numpy as np
import pandas as pd
import requests

# This function submits an assignment.  You can submit an assignment as much as you like, only the final
# submission counts.  The paramaters are as follows:
# data - Pandas dataframe output.
# key - Your student key that was emailed to you.
# no - The assignment class number, should be 1 through 1.
# source_file - The full path to your Python or IPYNB file.  This must have "_class1" as part of its name.  
# .             The number must match your assignment number.  For example "_class2" for class assignment #2.
def submit(data,key,no,source_file=None):
    if source_file is None and '__file__' not in globals(): raise Exception('Must specify a filename when a Jupyter notebook.')
    if source_file is None: source_file = __file__
    suffix = '_class{}'.format(no)
    if suffix not in source_file: raise Exception('{} must be part of the filename.'.format(suffix))
    with open(source_file, "rb") as image_file:
        encoded_python = base64.b64encode(image_file.read()).decode('ascii')
    ext = os.path.splitext(source_file)[-1].lower()
    if ext not in ['.ipynb','.py']: raise Exception("Source file is {} must be .py or .ipynb".format(ext))
    r = requests.post("https://api.heatonresearch.com/assignment-submit",
        headers={'x-api-key':key}, json={'csv':base64.b64encode(data.to_csv(index=False).encode('ascii')).decode("ascii"),
        'assignment': no, 'ext':ext, 'py':encoded_python})
    if r.status_code == 200:
        print("Success: {}".format(r.text))
    else: print("Failure: {}".format(r.text))

# Google CoLab Instructions

If you are using Google CoLab, it will be necessary to mount your GDrive so that you can send your notebook during the submit process.  Running the following code will map your GDrive to /content/drive.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
!ls /content/drive/My\ Drive/Colab\ Notebooks

# Assignment #4 Sample Code

The following code provides a starting point for this assignment.

In [2]:
import os
import pandas as pd
from scipy.stats import zscore
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
import pandas as pd
import io
import requests
import numpy as np
from sklearn import metrics

# This is your student key that I emailed to you at the beginnning of the semester.
key = "PPboscDL2M94HCbkbvfOLakXXNy3dh5x2VV1Mlpm"  # This is an example key and will not work.

# You must also identify your source file.  (modify for your local setup)
# file='/resources/t81_558_deep_learning/assignment_yourname_class1.ipynb'  # IBM Data Science Workbench
# file='C:\\Users\\jeffh\\projects\\t81_558_deep_learning\\t81_558_class1_intro_python.ipynb'  # Windows
file='/Users/jheaton/projects/t81_558_deep_learning/assignments/assignment_yourname_class4.ipynb'  # Mac/Linux
#file = "C:\\Users\\jeffh\\Dropbox\\school\\teaching\\wustl\\classes\\T81_558_deep_learning\\solutions\\assignment_solution_class4.ipynb"

# Begin assignment
df = pd.read_csv("https://data.heatonresearch.com/data/t81-558/crx.csv",na_values=['?'])


# submit(source_file=file,data=df_submit,key=key,no=4)

In [ ]:
# Below is just a suggestion.  These are the imports that I used.
from scipy.stats import zscore
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
from tensorflow.keras.callbacks import EarlyStopping

def fill_missing_numeric(df,current,target):
    # Fill in as needed
    
    return None

df_submit = fill_missing_numeric(df,'a2','a16')
df_submit = fill_missing_numeric(df,'a14','a16')

In [ ]:
# Submit

submit(source_file=file,data=df_submit,key=key,no=4)

In [10]:
#  's3','a8','a9','a10','a11','a12','a13','a15' - use all of these, zscore numeric, dummy for cats
used_cols = [ 's3','a8','a11','a15' ]
df[used_cols]

         s3    a8  a11  a15
0     0.000  1.25    1    0
1     4.460  3.04    6  560
2     0.500  1.50    0  824
3     1.540  3.75    5    3
4     5.625  1.71    0    0
..      ...   ...  ...  ...
685  10.085  1.25    0    0
686   0.750  2.00    2  394
687  13.500  2.00    1    1
688   0.205  0.04    0  750
689   3.375  8.29    0    0

[690 rows x 4 columns]

In [17]:
# Very important, split into pred train
pred_mask = df['a2'].isnull()
train_mask = ~pred_mask

In [15]:
pred_mask

0      False
1      False
2      False
3      False
4      False
       ...
685    False
686    False
687    False
688    False
689    False
Name: a2, Length: 690, dtype: bool

In [19]:
sum(pred_mask)

12

In [20]:
sum(train_mask)

678

In [21]:
len(df)

690

In [24]:
# Training - x and y, exactly

x = df[used_cols][train_mask].values
y = df['a2'][train_mask].values

In [25]:
x

array([[0.000e+00, 1.250e+00, 1.000e+00, 0.000e+00],
       [4.460e+00, 3.040e+00, 6.000e+00, 5.600e+02],
       [5.000e-01, 1.500e+00, 0.000e+00, 8.240e+02],
       ...,
       [1.350e+01, 2.000e+00, 1.000e+00, 1.000e+00],
       [2.050e-01, 4.000e-02, 0.000e+00, 7.500e+02],
       [3.375e+00, 8.290e+00, 0.000e+00, 0.000e+00]])

In [26]:
# Prediction

x2 = df[used_cols][pred_mask].values

In [27]:
x2

array([[3.500e+00, 3.000e+00, 0.000e+00, 0.000e+00],
       [3.750e-01, 8.750e-01, 0.000e+00, 0.000e+00],
       [5.000e+00, 8.500e+00, 0.000e+00, 0.000e+00],
       [5.000e-01, 8.350e-01, 0.000e+00, 0.000e+00],
       [6.250e-01, 2.500e-01, 0.000e+00, 2.010e+03],
       [1.500e+00, 0.000e+00, 2.000e+00, 1.050e+02],
       [4.000e+00, 8.500e-02, 0.000e+00, 0.000e+00],
       [1.125e+01, 0.000e+00, 0.000e+00, 5.200e+03],
       [3.000e+00, 7.000e+00, 0.000e+00, 1.000e+00],
       [4.000e+00, 5.000e+00, 3.000e+00, 2.279e+03],
       [1.050e+01, 6.500e+00, 0.000e+00, 0.000e+00],
       [4.000e-02, 4.250e+00, 0.000e+00, 0.000e+00]])

In [28]:
pred = model.predict(x2)

NameError: name 'model' is not defined

In [29]:
pred = [1,2,3,4,5,6,7,8,9,10,11,12]  # Test

In [30]:
pred

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [31]:
df.loc[pred_mask, 'a2'] = pred

In [35]:
sum(df['a2'].isnull()) # Check if your replace worked, should be zero

0

In [36]:
df[pred_mask]

    a1    a2      s3 a4 a5  a6  a7     a8 a9 a10  a11 a12 a13    a14   a15 a16
83   a   1.0   3.500  u  g   d   v  3.000  t   f    0   t   g  300.0     0   -
86   b   2.0   0.375  u  g   d   v  0.875  t   f    0   t   s  928.0     0   -
92   b   3.0   5.000  y  p  aa   v  8.500  t   f    0   f   g    0.0     0   -
97   b   4.0   0.500  u  g   c  bb  0.835  t   f    0   t   s  320.0     0   -
254  b   5.0   0.625  u  g   k   v  0.250  f   f    0   f   g  380.0  2010   -
286  a   6.0   1.500  u  g  ff  ff  0.000  f   t    2   t   g  200.0   105   -
329  b   7.0   4.000  y  p   i   v  0.085  f   f    0   t   g  411.0     0   -
445  a   8.0  11.250  u  g  ff  ff  0.000  f   f    0   f   g    NaN  5200   -
450  b   9.0   3.000  y  p   i  bb  7.000  f   f    0   f   g    0.0     1   -
500  b  10.0   4.000  u  g   x   v  5.000  t   t    3   t   g  290.0  2279   +
515  b  11.0  10.500  u  g   x   v  6.500  t   f    0   f   g    0.0     0   +
608  b  12.0   0.040  y  p   d   v  4.250  f   f    0   t   g  460.0     0   -

In [39]:
sum(df['a14'].isnull())

13

In [42]:
df.iloc[pred_mask,'a2'] = pred

NotImplementedError: iLocation based boolean indexing on an integer type is not available